
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=kamailio
MYSQL_USER=kamailio
MYSQL_PASSWORD=kamailio123
MYSQL_HOST_PORT=3306

SIP_DOMAIN=kamailio.local

ADVERTISED_IP=127.0.0.1

SIP_UDP_PORT=5060
SIP_TCP_PORT=5060


